* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background: linear-gradient(to right,#1F2D26, #113C26) !important;
   
}

.col-md-7 {

    background-color: black;
    color: white;
    border-radius: 10px;
}