* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {

   background-color: rgba(0, 200, 255, 0.266);
   
}

.table thead th {

    border-bottom: 2px solid #0a0a0a;
}

.table td, .table th {
   
    border-top: 1px solid #0d0d0e;
}




