
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} mt-2">
                <h3>{{ message }}</h3>
            </div>
        {% endfor %}
        <script>
            setTimeout(function() {
                var alerts = document.querySelectorAll('.alert');
                alerts.forEach(function(alert) {
                    alert.style.display = 'none';
                });
            }, 3000); 
        </script>
    {% endif %}
    <form action="" method="POST"> {% csrf_token %}
        <input type="text" name="username">
        <input type="text" name="password">
        <button type="submit"> Entrar </button>
    </form>
    <a href="{% url 'add-user' %}" class=" btn btn-primary mt-5 mb-1"> registrar-se</a>
</body>
</html>