
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
    <title>Document</title>
</head>
<body>
    {% comment %} 
    <h1>Login</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} mt-2">
                <h3>{{ message }}</h3>
            </div>
        {% endfor %}
        <script>
            setTimeout(function() {
                var alerts = document.querySelectorAll('.alert');
                alerts.forEach(function(alert) {
                    alert.style.display = 'none';
                });
            }, 3000); 
        </script>
    {% endif %}
    <form action="" method="POST"> {% csrf_token %}
        <input type="text" name="username">
        <input type="text" name="password">
        <button type="submit"> Entrar </button>
    </form>
    <a href="{% url 'add-user' %}" class=" btn btn-primary mt-5 mb-1"> registrar-se</a> 
    {% endcomment %}

    <!--==================== LOGIN ====================-->
    <div class="login" id="login">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} mt-2">
                    <h3>{{ message }}</h3>
                </div>
            {% endfor %}
            <script>
                setTimeout(function() {
                    var alerts = document.querySelectorAll('.alert');
                    alerts.forEach(function(alert) {
                        alert.style.display = 'none';
                    });
                }, 3000); 
            </script>
        {% endif %}
        <form action="" class="login__form" method="POST"> {% csrf_token %}
           <h2 class="login__title">Login</h2>
           
           <div class="login__group">
              <div>
                 <label for="username" class="login__label">Nome</label>
                 <input type="text" placeholder="Nome" id="username" class="login__input" name="username">
              </div>
              
              <div>
                 <label for="password" class="login__label">Senha</label>
                 <input type="password" placeholder="Senha" id="password" class="login__input" name="password">
              </div>
           </div>

           <div>
              <p class="login__signup">
                 You do not have an account? <a href="{% url 'add-user' %}">registrar-se</a>
              </p>
  
              <a href="#" class="login__forgot">
                 You forgot your password
              </a>
  
              <button type="submit" class="login__button">Entrar</button>
           </div>
        </form>

        <i class="ri-close-line login__close" id="login-close"></i>
     </div>
 </body>
</html> 